#first {
	color: blue;
}
.second{
	font-family: "Chiller";
	font-size: 50px;
}
.third{
	margin: 50px; 
}

.fourth{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,.5);
  text-shadow: 80px -20px 60px #EC6223, -80px -40px 60px #E70CAE, 40px 20px 60px #70984A;
  font-size: 80px;
}
button{
	display:inline-block;
}